.cards-titulo {
    text-align: center;
}

.cards-raca {
    background-blend-mode: multiply;
    padding: 2rem;
    position: relative;
    text-align: center;
}

.cards-raca h3 {
    border-bottom: 0.25rem solid;
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 0.5rem;

}

.cards-raca .cards-personagem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.input-cor {
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
}